body {
  text-align: center;
  background-image: url("background_image.jpeg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-color: black;
  height: 100%
}

.films-container {
  background-color: #282c34;
  border: 5px solid white;
  margin: 20%;
  color: white
}

h1 {
  color: white
}

a {
  color: white
}






